<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Sigma js</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{assets}}/css/font-awesome.css">

  <link rel="stylesheet" href="{{assets}}/css/base.css">
  <link rel="stylesheet" href="{{assets}}/css/skeleton.css">
  <link rel="stylesheet" href="{{assets}}/css/layout.css">
  <link rel="stylesheet" href="{{assets}}/css/highlights/default.css">


  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{assets}}/images/favicon.ico">
  <link rel="apple-touch-icon" href="{{assets}}/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{assets}}/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{assets}}/images/apple-touch-icon-114x114.png">
  <style>
  #container{
    min-height: 300px;
  }
  #container .buttons button{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    display: inline-block;
    margin-left: 12px;
  }

  .container.title{
    margin-top: 32px;
  }
  .container.title *{
    margin-left: 12px;
  }
  .container.title h2{
    font-weight: normal;
    
  }

  .sigma-scene{
    background-color:#401613;
  }
  </style>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29798319-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body class="bg-beige">
  {{>header}}
  <div class="container title big-bottom">
    <h2>untitled</h2>
    <div>or, how to love the bomb.</div>
  </div>
  <div class="container example big-bottom">
    

    {{>body}}
    
  </div>
  <div class="container explaination big-bottom">
    Test
  </div>
  {{>footer}}
   <script src="{{assets}}/js/jquery.min.js"></script>
    <script src="{{assets}}/js/jquery-scrolltofixed-min.js"></script>
    <script src="{{assets}}/js/highlight.pack.js"></script>
    <script src="{{assets}}/js/index.examples.js"></script>
    <script src="{{assets}}/js/surprise.min.js"></script>
</body>
</html>
